#home {
	.card-container {
		height: 270px;
	}

	.card-header {
		height: auto;
		max-height: 50px;
		margin-bottom: 10px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 100%;
	}

	.card-desc {
		overflow: hidden;
	}

	.card-labels {
		//border: 1px solid red;
		height: 60px;
		overflow-x: hidden;
		overflow-y: auto;
	}
}
